*#*#
*.#*#
*.a
*.o
*.orig
*.rej
.#*
.git
.deps
TAGS
tags
/src/hyperstart
build/hyper_daemon
build/hyper-initrd.img
data/hyperstart.service
build/cbfs.rom
build/root/*
build/*iso
build/daemon
build/kernel_config.old
build/.*
src/.*
Makefile
Makefile.in
cscope.files
cscope.in.out
cscope.out
cscope.po.out
stamp-h
stamp-h.in
stamp-h1
/config.*
/configure
/aclocal.m4
/autoscan.log
/autom4te.cache
/compile
/depcomp
/install-sh
/missing
