*#*#
*.#*#
*.a
*.o
*.orig
*.rej
.#*
.git
.deps
init
build/hyper_daemon
build/hyper-initrd.img
build/root/*
build/daemon
build/.*
src/.*
Makefile
Makefile.in
cscope.files
cscope.in.out
cscope.out
cscope.po.out
stamp-h
stamp-h.in
stamp-h1
/config.h
/config.h.in
/config.log
/config.status
/configure
/aclocal.m4
/autoscan.log
/autom4te.cache
/compile
/depcomp
/install-sh
/missing
